@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?uj8u1t');
    src:  url('../fonts/icomoon.eot?uj8u1t#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?uj8u1t') format('truetype'),
      url('../fonts/icomoon.woff?uj8u1t') format('woff'),
      url('../fonts/icomoon.svg?uj8u1t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   
[class^="ag-icon-"], [class*=" ag-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ag-icon-menu_estadisticas-trafico:before {
  content: "\e930";
}
.ag-icon-menu_Configuracion-iusuarios-on:before {
  content: "\e931";
}
.ag-icon-menu_estadisticas:before {
  content: "\e932";
}
.ag-icon-menu_estadisticas-trafico-on:before {
  content: "\e933";
}
.ag-icon-menu_Encuestas-detalle-on:before {
  content: "\e934";
}
.ag-icon-menu_Accesos:before {
  content: "\e935";
}
.ag-icon-menu_Integraciones-importar:before {
  content: "\e936";
}
.ag-icon-menu_Encuestas-mantetinmiento-on:before {
  content: "\e937";
}
.ag-icon-menu_Encuestas:before {
  content: "\e938";
}
.ag-icon-menu_expand_menu:before {
  content: "\e939";
}
.ag-icon-menu_logout:before {
  content: "\e93a";
}
.ag-icon-menu_KPIs-rendimiento:before {
  content: "\e93b";
}
.ag-icon-menu_estadisticas-panel-de-cpntrol:before {
  content: "\e93c";
}
.ag-icon-menu_estadisticas-conexiones:before {
  content: "\e93d";
}
.ag-icon-menu_Anuncios-mantenimiento:before {
  content: "\e93e";
}
.ag-icon-menu_mobie_section:before {
  content: "\e93f";
}
.ag-icon-menu_Integraciones-importar-on:before {
  content: "\e940";
}
.ag-icon-menu_Mailing:before {
  content: "\e941";
}
.ag-icon-menu_Tripadvisor-estadisticas:before {
  content: "\e942";
}
.ag-icon-menu_Accesos-calibrador-on:before {
  content: "\e943";
}
.ag-icon-menu_Mailing-campaas:before {
  content: "\e944";
}
.ag-icon-menu_Mailing-excluidos:before {
  content: "\e945";
}
.ag-icon-menu_Mailing-excluidos-on:before {
  content: "\e946";
}
.ag-icon-menu_Mailing-plantillas-on:before {
  content: "\e947";
}
.ag-icon-menu_Integraciones:before {
  content: "\e948";
}
.ag-icon-menu_estadisticas-panel-de-cpntrol-on:before {
  content: "\e949";
}
.ag-icon-menu_Configuracion-instalacion-on:before {
  content: "\e94a";
}
.ag-icon-menu_account:before {
  content: "\e94b";
}
.ag-icon-menu_erase:before {
  content: "\e94c";
}
.ag-icon-menu_estadisticas-usuarios-wifi-on:before {
  content: "\e94d";
}
.ag-icon-menu_Mailing-enviados-on:before {
  content: "\e94e";
}
.ag-icon-menu_Mailing-campaas-on:before {
  content: "\e94f";
}
.ag-icon-menu_Mailing-campaas-globales-on:before {
  content: "\e950";
}
.ag-icon-menu_Configuracion-instalacion:before {
  content: "\e951";
}
.ag-icon-menu_pin-off:before {
  content: "\e952";
}
.ag-icon-menu_Encuestas-detalle:before {
  content: "\e953";
}
.ag-icon-menu_Anuncios-estadisticas-on:before {
  content: "\e954";
}
.ag-icon-menu_estadisticas-conexiones-on:before {
  content: "\e955";
}
.ag-icon-menu_KPIs-rendimiento-on:before {
  content: "\e956";
}
.ag-icon-menu_Configuracion:before {
  content: "\e957";
}
.ag-icon-menu_Configuracion-usuarios:before {
  content: "\e958";
}
.ag-icon-menu_Integraciones-exportar:before {
  content: "\e959";
}
.ag-icon-menu_Anuncios:before {
  content: "\e95a";
}
.ag-icon-menu_bell:before {
  content: "\e95b";
}
.ag-icon-menu_Configuracion-clientes:before {
  content: "\e95c";
}
.ag-icon-menu_Mailing-plantillas:before {
  content: "\e95d";
}
.ag-icon-menu_Mailing-campaas-globales:before {
  content: "\e95e";
}
.ag-icon-menu_Configuracion-clientes-on:before {
  content: "\e95f";
}
.ag-icon-menu_Encuestas-estadisticas-on:before {
  content: "\e960";
}
.ag-icon-menu_pin-on:before {
  content: "\e961";
}
.ag-icon-menu_Accesos-routers-on:before {
  content: "\e962";
}
.ag-icon-menu_Mailing-enviados:before {
  content: "\e963";
}
.ag-icon-menu_mobile:before {
  content: "\e964";
}
.ag-icon-menu_Accesos-estadisticas-on:before {
  content: "\e965";
}
.ag-icon-menu_Encuestas-estadisticas:before {
  content: "\e966";
}
.ag-icon-menu_KPIs:before {
  content: "\e967";
}
.ag-icon-menu_Tripadvisor-estadisticas-on:before {
  content: "\e968";
}
.ag-icon-menu_Mailing-estadisticas:before {
  content: "\e969";
}
.ag-icon-menu_Encuestas-mantetinmiento:before {
  content: "\e96a";
}
.ag-icon-menu_Accesos-routers:before {
  content: "\e96b";
}
.ag-icon-menu_Anuncios-mantenimiento-on:before {
  content: "\e96c";
}
.ag-icon-menu_Anuncios-estadisticas:before {
  content: "\e96d";
}
.ag-icon-menu_Tripadvisor-detalle:before {
  content: "\e96e";
}
.ag-icon-menu_Accesos-calibrador:before {
  content: "\e96f";
}
.ag-icon-menu_Mailing-estadisticas-on:before {
  content: "\e970";
}
.ag-icon-menu_estadisticas-usuarios-wifi:before {
  content: "\e971";
}
.ag-icon-menu_Integraciones-exportar-on:before {
  content: "\e972";
}
.ag-icon-menu_Tripadvisor-detalle-on:before {
  content: "\e973";
}
.ag-icon-menu_Tripadvisor:before {
  content: "\e974";
}
.ag-icon-menu_Accesos-estadisticas:before {
  content: "\e975";
}
.ag-icon-i:before {
  content: "\e92f";
}
.ag-icon-macaddress:before {
  content: "\e92e";
}
.ag-icon-googleplus:before {
  content: "\e91e";
}
.ag-icon-instagram:before {
  content: "\e91f";
}
.ag-icon-login:before {
  content: "\e920";
}
.ag-icon-promo:before {
  content: "\e921";
}
.ag-icon-share-link:before {
  content: "\e922";
}
.ag-icon-share-link2:before {
  content: "\e923";
}
.ag-icon-speed:before {
  content: "\e924";
}
.ag-icon-wifi1:before {
  content: "\e925";
}
.ag-icon-fb:before {
  content: "\e926";
}
.ag-icon-link:before {
  content: "\e927";
}
.ag-icon-pms:before {
  content: "\e928";
}
.ag-icon-repeater:before {
  content: "\e929";
}
.ag-icon-router:before {
  content: "\e92a";
}
.ag-icon-tripadvisor2:before {
  content: "\e92b";
}
.ag-icon-key:before {
  content: "\e92c";
}
.ag-icon-arrow_desplazar1:before {
  content: "\e92d";
}
.ag-icon-share1:before {
  content: "\e91d";
}
.ag-icon-arrow_desplazar:before {
  content: "\e900";
}
.ag-icon-arrow:before {
  content: "\e901";
}
.ag-icon-base_datos:before {
  content: "\e902";
}
.ag-icon-birthday:before {
  content: "\e903";
}
.ag-icon-calendar:before {
  content: "\e904";
}
.ag-icon-check:before {
  content: "\e905";
}
.ag-icon-coins:before {
  content: "\e906";
}
.ag-icon-clock:before {
  content: "\e907";
}
.ag-icon-calendar2:before {
  content: "\e908";
}
.ag-icon-facebook:before {
  content: "\e909";
}
.ag-icon-graphic:before {
  content: "\e90a";
}
.ag-icon-idioma:before {
  content: "\e90b";
}
.ag-icon-info:before {
  content: "\e90c";
}
.ag-icon-like_line:before {
  content: "\e90d";
}
.ag-icon-like:before {
  content: "\e90e";
}
.ag-icon-mail:before {
  content: "\e90f";
}
.ag-icon-pencil:before {
  content: "\e910";
}
.ag-icon-Prize:before {
  content: "\e911";
}
.ag-icon-quote_mark:before {
  content: "\e912";
}
.ag-icon-shake-hand:before {
  content: "\e913";
}
.ag-icon-share_line:before {
  content: "\e914";
}
.ag-icon-share:before {
  content: "\e915";
}
.ag-icon-sharing:before {
  content: "\e916";
}
.ag-icon-speaker_linea:before {
  content: "\e917";
}
.ag-icon-speaker:before {
  content: "\e918";
}
.ag-icon-test:before {
  content: "\e919";
}
.ag-icon-TripAdvisor-logo:before {
  content: "\e91a";
}
.ag-icon-whatsapp:before {
  content: "\e91b";
}
.ag-icon-wifi:before {
  content: "\e91c";
}

