.menu{
	border-bottom: 4px solid #4a5b7a;
	padding-bottom: 4px;
	margin-bottom: 5px;
	ul{
		list-style: none;
		padding: 0;
		margin: 0 -3px;
		display: flex;
		text-align: center;
		li{
			width: 20%;
			box-sizing: border-box;
			padding: 0 2.5px;
			&.active{
				a{
					text-decoration: none;
					background: #2d4159;
					color: #fff;
					img{
						filter: brightness(25);
					}
				}
			}
		}
		a{
			display: block;
			width: 100%;
			padding: 12px 10px;
			background: #f7f7f7;
			color: #2d4159;
			font-size: 16px;
			font-weight: 600;
			@include mq($max-width: 1313px) {
				font-size: 14px;
			}
			img{
				vertical-align: middle;
				padding: 0 10px 0 0;
			}
			i{
				font-size: 16px;
				padding-right: 10px;
				vertical-align: middle;
			}
			&:hover{
				text-decoration: none;
				background: #2d4159;
				color: #fff;
				img{
					filter: brightness(25);
				}
			}
		}
	}
	@include mq($max-width: 992px) {
		display: none;
	}
}
.menu-mobile{
	@include mq($min-width: 993px) {
		display: none;
	}
	&__trigger{
		display: flex;
		cursor: pointer;
		margin-bottom: 15px;
		span{
			min-width: 60px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #4a5b7a;
			color: #fff;
			font-size: 16px;
		}
	}
	&__item{
		background: #4a5b7a;
		border-right: 4px solid #fff;
		flex: 1;
		text-align: center;
		width: 100%;
		padding: 14px 10px;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		a{
			color: #fff;
			text-decoration: none;
		}
		img{
			vertical-align: middle;
			padding: 0 10px 0 0;
		}
		i{
			font-size: 16px;
			padding-right: 10px;
			vertical-align: middle;
		}
	}
	&.open{
		ul{
			display: block;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0 -3px;
		text-align: center;
		display: none;
		li{
			box-sizing: border-box;
			padding: 0 2.5px;
			&.active{
				a{
					text-decoration: none;
					background: #2d4159;
					color: #fff;
					img{ 
						filter: brightness(25);
					}
				}
			}
		}
		a{
			display: block;
			width: 100%;
			padding: 14px 10px;
			background: #f7f7f7;
			color: #2d4159;
			font-size: 16px;
			font-weight: 600;
			img{
				vertical-align: middle;
				padding: 0 10px 0 0;
			}
			i{
				font-size: 16px;
				padding-right: 10px;
				vertical-align: middle;
			}
			&:hover{
				text-decoration: none;
				background: #2d4159;
				color: #fff;
				img{
					filter: brightness(25);
				}
			}
		}
	}
}

.install-preview-wrap{
	@include mq($max-width: 992px) {
		display: none;
	}
}
.install-content{
	.panel-title{
		font-size: 16px;
	}
}
.panel-install{
	box-shadow: none;
	border: none;
	.panel-heading{
		padding-left: 0;
		color: #2d4159;
		border-bottom: 1px solid #2c4159;
	}
	.panel{
		border-radius: 0;
		border: none;
		box-shadow: none;
		//overflow: auto;
	}
	.panel-body{
		 .flex-row{
			background: #f7f7f7;
			border-bottom:5px solid #fff;
		}
		.col-8{
			background: #f1f1f1;
		}
		.install-accordion__change{
			vertical-align: middle;
		}
	}
	&__2col{
		//margin-right: -15px;
		display: flex;
		//justify-content: space-between;
		.row{
			background: none;
		}
		.install-accordion__subtitle{
			min-width:15%;
			@include mq($max-width: 992px) {
				min-width:24%;
			}
		}
	}
	&__2col-right{
		display: flex;
		width:100%;
		.flex-row{
			min-width:calc(50% + -5px);
			width:49%;
			margin-right:10px;
			@include mq($max-width: 992px) {
				width:100%;
				min-width:100%;
				margin-right:0;
			}
		}
		@include mq($max-width: 992px) {
			display: block;
		}
	}
	.panel-title{
		@include mq($max-width: 992px) {
			font-size:18px;
		}
	}
}
.install-row{
	display: flex;
	justify-content: space-between;
	//align-items: center;
	a{
		text-decoration: none;
	}
}
.install-accordion{
	.panel-heading{
		border-radius: 0;
		border-bottom: none;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.panel{
		border-radius: 0;
		border: none;
		box-shadow: none;
		overflow: visible;
	}
	.install-row{
		.pull-right{
			display: flex;
			align-items: center;
		}
	}
	&__ico{
		height: calc(100% + 20px);
		width: 50px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: -10px 10px 0px -15px;
		font-size: 20px;
		color: #fff;
		background: #4a5b7a;
		@include mq($max-width: 992px) {
			width:40px;
			//height:40px;
		}
		&.mobile{
			background: #63b284;
			//font-size: 25px;
		}
		&.fb{
			background: #3a72b9;
		}
		&.mail{
			background: #4a5b7a;
		}
		&.insta{
			background-image: linear-gradient(40deg, #f6ac58 0%, #df4e5d 27%, #c93580 65%, #5c6cb3 100%);
		}
		&.gplus{
			background: #d65544;
		}
		&.sett{
			background: #3aacb9;
		}
		&.wifi{
			background: #90c558;
		}
		&.tripadvisor{
			background: #01ae88;
			img{
				max-width: 30px;
			}
		}
		&.orange{
			background: #f79219;
		}
		&.blue{
			background: #3faedc;
		}
	}
	.panel-default > .panel-heading + .panel-collapse .panel-body{
		border-top: none;
	}
	&__title{
		color: #2d4159;
		font-size: 16px;
		font-weight: 400;
		position: relative;
		top: -3px;
		@include mq($max-width: 992px) {
			font-size:15px;
		}
		@include mq($max-width: 450px) {
			font-size:10px;
			
		}
	}
	&__plus{
		line-height: 21px;
		display: inline-block;
		a{
			padding: 0;
			color: #2c4159;
			font-weight: 300;
			text-decoration: none !important;
			&:before{
				content: '-';
				color: #2c4159;
				font-size: 30px;
				font-weight: 300;
				line-height: 1;
				@include mq($max-width: 992px) {
					font-size:23px;
				}
				@include mq($max-width: 450px) {
					font-size:18px;
				}
			}
			&.collapsed{
				&:before{
					content: '+';
				}
			}
		}
	}
	&__change{
		display: inline-block;
		margin-right: 25px;
		position: relative;
		margin-bottom:0;
		input{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			cursor: pointer;
			opacity: 0;
		}
		input:checked + .install-accordion__change-inner{
			border: 1px solid #70a012;
			background-color: #82b51f;
			&:before{
				float: right;
			}
			.fa{
				left: 10px;
				right: auto;
				color: #f1f1f1;
				&::before{
					content: "\f00c";
				}
			}
		}
	}
	&__change-inner{
		width: 53px;
		height: 23px;
		border-radius: 12px;
		border: 1px solid #d6d6d6;
		background-color: #e2e2e2;
		cursor: pointer;
		position: relative;
		@include transition(all 0.5s);
		&:before{
			width: 21px;
			height: 21px;
			border: 1px solid #f1f1f1;
			background-color: #f7f7f7;
			border-radius: 50%;
			content: '';
			display: block;
			float: left;
			@include transition(all 0.5s);
		}
		.fa{
			position: absolute;
			top: 3px;
			font-size: 13px;
			right: 10px;
			color: #f1f1f1;
			@include transition(all 0.5s);
			&:before{
				content: "\f00d";
			}
		}
		&.enabled{
			border: 1px solid #70a012;
			background-color: #82b51f;
			&:before{
				float: right;
			}
			.fa{
				left: 10px;
				right: auto;
				color: #f1f1f1;
			}
		}
	}
	.panel-body{
		padding-left:50px;
		padding-right: 0;
		.row, .flex-row{
			background: #f7f7f7;
			border-bottom:5px solid #fff;
		}
		.col-8{
			background: #f1f1f1;
		}
		.install-accordion__change{
			vertical-align: middle;
		}
		@include mq($max-width: 992px) {
			padding-left:40px;
			//padding-left:25px;
		}
	}
	&__subtitle{
		font-size:16px;
		color: #2d4159;
		position: relative;
		padding: 10px 0;
		height: 100%;
		box-sizing: border-box;
		@include mq($max-width: 992px) {
			font-size:14px;
		}
		@include mq($max-width: 450px) {
			font-size:10px;
		}
	}
	&__head{
		position: relative;
		a[data-toggle]{
			&:before{
				content: '-';
				color: #2c4159;
				font-size: 30px;
				font-weight: 300;
				line-height: 1;
				position: absolute;
				right: 15px;
				top: 47%;
				width: 17px;
				text-align: center;
				height: auto;
				transform: translateY(-50%);
			}
			&.collapsed{
				&:before{
					content: '+';
					top: 50%;
				}
			}
		}
	}
	&__section{
		font-size:16px;
		color: #2d4159;
		background: #f1f1f1;
		padding: 10px 0;
		height: 100%;
		padding-right: 30px;
		position: relative;
		@include mq($max-width: 992px) {
			font-size:13px;
			padding-right:0;
		}
		@include mq($max-width: 450px) {
			font-size:11px;
		}
		input{
			width: 100%;
			color: #7c7c7c;
			font-size: 16px;
			background: none;
			border: none;
			padding: 0 5px;
			height: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			&.dark-input{
				color: #2d4159;
				&::-webkit-input-placeholder {
					color: #2d4159;
				}
				&::-moz-placeholder {
					color: #2d4159;
				}
				&:-ms-input-placeholder { 
					color: #2d4159;
				}
				&:-moz-placeholder { 
					color: #2d4159;
				}
			}
			@include mq($max-width: 992px) {
				font-size:13px;
			}
			@include mq($max-width: 450px) {
				font-size:10px;
			}
		}
	}
	&__info{
		position: absolute;
		right: 0;
		font-size: 23px;
		color: #dbdbdb;
		top: 50%;
		transform: translateY(-50%);
		@include mq($max-width: 992px) {
			right: -5px;
		}
	}
	&__tag{
		padding-left: 10px;
		span{
			font-size: 12px;
			color: #ffffff;
			background: #4a5b7a;
			text-transform: uppercase;
			padding: 2px 5px;
			margin-right: 5px;
		}
		@include mq($max-width: 550px) {
			display: none;
		}
	}
}
.install-preview{
	width: 371px;
	height: 753px;
	box-sizing: border-box;
	margin: 0 auto;
	//padding: 17px 0 20px 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	
	&:before{
		background: url(../images/iphonex-white2.png) no-repeat center top; 
		width: 371px;
		position: absolute;
		top: 0;
		left: 0;
		height: 753px;
		content: '';
	}
	@include mq($min-width: 1900px) {
		// background-size: auto;
		// padding: 87px 0 0 0;
		// height: 736px;
		// width: 376px;
		// box-sizing: border-box;
	}
	img{
		width: calc(100% - 20px);
		min-height: calc(100% - 20px);
		border-radius: 45px;
		margin:  10px;
		@include mq($min-width: 1900px) {
			padding: 0;
		}
	}
}

.flex-row{
	display: flex;
	.col, .col-6, .col-4, .col-8, .col-12{
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		&.pad-r0{
			padding-right: 0;
		}
	}
	&.align-center{
		align-items: center
	}
	&.mobile-block{
		@include mq($max-width: 600px) {
			display: block;
			& > div{
				width: 100%;
				max-width: 100%;
			}
			.install-accordion__ico{
				height: 40px;
				font-size: 15px;
				//width: 30px;
				margin-left: -14px;
				margin-bottom: -10px;
			}
			.col-8{
				display: flex;
				flex-direction: column;
				justify-content: center;
				min-height: 40px;
				input{
					min-height: 20px;
				}
			}
		}
	}
}
.col-6{
	width: 50%;
}

.col-4{
	flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-8{
	flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-12{
	flex: 1;
    max-width: 100%;
}
.pad-l0 {
	padding-left: 0;
}
.pad-r0{
	padding-right: 0;
}
.pt0, .pad-t0{
	padding-top: 0;
}
.pb0, .pad-b0{
	padding-bottom: 0;
}
.mar-r0{
	margin-right: 0;
}
.mar-l0{
	margin-left: 0;
}
.flex-width{
	flex: 1;
}
.install-nav{
	padding: 8px 0;
	border-top: 4px solid #4a5b7a;
	text-align: center;
	position: fixed;
	z-index: 100;
	right: 15px;
	bottom: 0;
	background: #fff;
	width: calc(100% - 275px);
	@include mq($max-width: 1279px) {
	width: 100%;
	right: 0;
	}
	.btn{
		font-size: 16px;
		text-transform: uppercase;
		border-radius: 0;
		padding: 0.8em 3em;
		border: none;
		@include mq($max-width: 992px) {
			padding: 9px 20px;
				font-size:13px;
		}
		@include mq($max-width: 450px) {
			font-size:10px;
		}
	}
	@include mq($max-width: 992px) {
		border-width:3px;
	}
	.btn-empty{
		color: #4a5b7a;
		&:hover{
			background: #f1f1f1;
		}
	}
	.btn-primary{
		background: #4a5b7a;
		&:hover{
			background: #2f3e5a;
		}
	}
}

.drop-down { 
	position: relative;  
	display: block;    
	width: auto;       
	margin-top: 0;     
	.button{
		span{
			color: #2d4159;
			font-size: 18px;  
			font-family: 'Open Sans';
			cursor: pointer;
			&:before{
				font-family: 'icomoon', FontAwesome;
				font-size: 28px;
				vertical-align: middle;
				display: inline-block;
				padding-right: 25px;
			}
			&.seleccionar{
				font-style: italic;
				padding-left: 50px;
				color: #7c7c7c;
				font-family: 'Open Sans';
			}
		}
	}
}      
	.drop-down .select-list {   
	position: absolute;     
	top: 0;    
	left: -15px;     
	z-index: 1;   
	margin: 0; 
	margin-top: 40px;        
	background-color: #f1f1f1;    
	padding: 0 25px;  
	list-style: none;
	width: 100%;
	}      
	.drop-down .select-list li {   
	display: none; 
	border-top: 1px solid #fff;    
	&:first-child{
		border-top: none;
		&:after{
			border-top: 1px solid #4a5b7a;  
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	} 
	}    
	.drop-down .select-list li span {  
	display: inline-block;        
	min-width: 280px;      
	width: 100%;        
	padding: 10px 0;             
	text-align: left;    
	box-sizing: border-box;   
	color: #2d4159;
	font-size: 18px;  
	font-family: 'Open Sans';
	cursor: pointer;
	&:before{
		font-family: 'icomoon', FontAwesome;
		font-size: 28px;
		vertical-align: middle;
		display: inline-block;
		padding-right: 25px;
	}
	}     
	.drop-down .select-list li span:hover,  
	.drop-down .select-list li span:focus {     
	opacity: 1;     
	} 
	.select-list-link{
		font-size: 0;
		position: absolute;
		top: 30%;
		right: 0;
		transform: translateY(-50%);
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			@include arr(16,14, #4a5b7a, b);
		}
	}
	

   
	  /* select with custom icons */
	  .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
		padding: 0.5em 0 0.5em 3em;
	  }
	  .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
		height: 24px;
		width: 24px;
		top: 0.1em;
	  }
   
	  /* select with CSS avatar icons */
	  option.avatar {
		background-repeat: no-repeat !important;
		padding-left: 20px;
	  }
	  .avatar .ui-icon {
		background-position: left top;
	  }

.ui-widget-content{
	border: none;
	margin-left: -15px;
	transform: translateY(15px);
	background: #f1f1f1;
	border-radius: 0;
	border-top: 1px solid #4a5b7a;
	box-shadow: 0 0 16px rgba(223,223,223,0.6);;
}
	.ui-menu-item{
		position: relative;
		
	}
	.ui-menu-item-wrapper{
		background: none;
		padding: 10px 0;             
		text-align: left;    
		box-sizing: border-box;   
		color: #2d4159;
		font-size: 18px;  
		font-family: 'Open Sans';
		min-height: 45px;
		padding-left: 50px;
		@include mq($max-width: 992px) {
			font-size:13px;
			padding:5px 0;
			min-height:30px;
			padding-left:25px;
		}
		@include mq($max-width: 450px) {
			font-size:10px;
		}
	}
	.ui-menu .ui-icon{
		background: none;
		text-indent: 0;
		width: auto;
		height: auto;
		left: 0;
		top: 50%;
		font-size: 28px;
		color: #2d4159;
		transform: translateY(-50%);
		@include mq($max-width: 992px) {
			font-size:16px;
		}
		@include mq($max-width: 450px) {
			font-size:14px;
		}
	}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		border: none;
		background: none;
		font-weight: bold;
		color: #2d4159;
	}
	.ui-menu .ui-menu-item{
		margin: 0 25px;
		width: auto;
		border-top: 1px solid #fff;
		cursor: pointer;
		&:first-child{
			border-top: none;
		}
		@include mq($max-width: 992px) {
			margin:0 10px;
		}
	}
	.ui-widget-content{
		max-width: 34vw;
		overflow: hidden;
		@include mq($max-width: 992px) {
			max-width: 55vw;
		}
		@include mq($max-width: 500px) {
			max-width: 54vw;
		}
	}
	.ui-selectmenu-menu  {
		display: none;
		&.ui-selectmenu-open{
			display: block;
		}
	}
	.ui-selectmenu-button{
		width: 100%;
		display: block;
		text-align: left;
		position: relative;
	}
		.ui-selectmenu-icon{
			position: absolute;
			right: 0;
			top: 50%;
			width: 0;
			height: 0;
			transform: translateY(-50%);
			@include arr(14,12, #4a5b7a, b);
			@include mq($max-width: 992px) {
				@include arr(10,9, #4a5b7a, b);
			}
		}
		.ui-selectmenu-text{
			color: #2d4159;
			font-size: 16px;  
			font-family: 'Open Sans';
			@include mq($max-width: 992px) {
				font-size:13px;
			}
			@include mq($max-width: 450px) {
				font-size:10px;
			}
		}
		.ui-selectmenu-menu{
			//transform: translateX(-30px);
		}

.acc-info-wrap{
	@include mq($max-width: 992px) {
		padding-right:20px;
	}
}

.new-repeater{
	display: flex;
	padding-top: 15px;
	padding-bottom: 25px;
	@include mq($max-width: 530px) {
		flex-wrap: wrap;
	}
	&__icon{
		background: #4d5b77;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		color: #fff;
		font-size: 20px;
		@include mq($max-width: 992px) {
			font-size:25px;
		}
		@include mq($max-width: 575px) {
			font-size:18px;
		}
	}
	&__text, &__section{
		padding: 10px 13px;
		font-size: 16px;
		color: #2d4159;
		background: #f7f7f7;
		width: 260px;
		@include mq($max-width: 992px) {
			font-size:13px;
			width: auto;
		}
		@include mq($max-width: 530px) {
			flex:1;
		}
		em{
			font-size: 0.8em;
		}
	}
	&__section{
		padding: 0;
		width: auto;
		flex: 1;
	}
	&__input{
		@include mq($max-width: 530px) {
			width: 100%;
			margin: 10px 0;
		}
		input{
			height: 100%;
			padding: 0 24px;
			border: none;
			background: #f1f1f1;
			font-size: 16px;
			color: #7c7c7c;
			width: 530px;
			box-sizing: border-box;
			@include mq($max-width: 992px) {
				font-size:13px;
				width: auto;
			}
			@include mq($max-width: 530px) {
			width: 100%;
			padding: 10px;
			}
		}
	}
	&__button{
		display: flex;
		button{
			display: inline-block;
			height: 100%;
			border-radius: 0;
			font-size: 16px;
			border: none;
			&:hover{
				opacity: .9;
			}
			@include mq($max-width: 992px) {
				font-size:13px;
				width: auto;
			}
		}
		.btn-primary{
			background: #4d5b77;
			border: none;
			margin-right: 10px;
			padding-left: 40px;
			padding-right: 40px;
			@include mq($max-width: 992px) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.btn-success{
				padding-left: 20px;
				padding-right: 20px;
				@include mq($max-width: 992px) {
					padding-left: 15px;
					padding-right: 15px;
				}
		}
	}
}
.repeaters-table{
	overflow-x: auto;
	.fa-2x{
		font-size: 1.5em;
	}
	table{
		width: 100%;
		td, th{
			border: 1px solid #4a5b7a;
			color: #4a5b7a;
			font-size: 14px;
			padding: 15px;
			@include mq($max-width: 992px) {
				font-size:13px;
				padding: 5px;
			}
			a{
				color: #4a5b7a;
			}
			&.green{
				background: #5cb85c;
				color: #fff;
			}
			&.red{
				color: #fff;
				background: #d9534f;
			}
			&.red-color{
				color: #d9534f;
			}
		}
		tr{
			&:nth-child(even){
				td{
					background: #f9f9f9;
					&.green{
						background: #5cb85c;
						color: #fff;
					}
					&.red{
						color: #fff;
						background: #d9534f;
					}
				}
			}
		}
	}
}

.flex{
	display: flex;
	&.mobile-block{
		@include mq($max-width: 600px) {
			display: block;
			.install-accordion__right-button{
				margin-top: 10px;
			}
		}
	}
}
.ui-selectmenu-menu{
	max-width: 50%;
}
.install-preview-pc{
	text-align: center;
	padding-top: 8px;
	.btn{
		font-size: 16px;
		text-transform: uppercase;
		border-radius: 0;
		border: none;
		margin: 0 3px;
		padding: 0.5em 1.3em;
		&.btn-primary{
			background: #4a5b7a;
			&:hover{
				background: #2f3e5a;
			}
		}
		&.btn-default{
			background: #f1f1f1;
			&:hover{
				background: #c7c7c7;
				color: #fff;
			}
		}
	}
	&__top{
		margin-bottom: 35px;
		background: url(../images/bg-client.jpg) no-repeat center top;
		background-size: 100% auto;
		padding-top: 30%;
		img{
			max-width: 30%;
		}
	}
	&__center{
		padding-bottom: 16px;
		em{
			display: block;
			font-size: 14px;
			color: #2d4159;
			padding-top: 4px;
		}
	}
	&__bottom{

	}
}
.btn-primary-dark{
	font-size: 16px;
		text-transform: uppercase;
		border-radius: 0;
		border: none;
		margin: 0 3px;
		padding: 0.5em 1.3em;
		background: #4a5b7a;
		&:hover{
			background: #2f3e5a;
		}
		@include mq($max-width: 992px) {
			padding: 9px 20px;
				font-size:13px;
		}
		@include mq($max-width: 450px) {
			font-size:10px;
		}
}
.install-accordion__right-button{
	display: flex;
	margin: -10px -18px 0 0;
	height: calc(100% + 20px);
	.btn{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 0;
		padding-bottom: 0;
	}
}
.pt15{
	padding-top: 15px;
}
.collapsed-disabled{
	a[data-toggle].collapsed:before{
		display: none;
	}
	.install-accordion__change{
		margin-right: 0;
	}
}
.tripadvisor-progress{
	&.red{
		.tripadvisor-progress__alert{
			background: #de5962;
		}
		.tripadvisor-progress__line span{
			border-color:  #de5962;
		}
		.tripadvisor-progress__line span:before, .tripadvisor-progress__line:before{
			background:  #de5962;
		}
	}
	&.yellow{
		.tripadvisor-progress__alert{
			background: #e3c415;
		}
		.tripadvisor-progress__line span{
			border-color:  #e3c415;
		}
		.tripadvisor-progress__line span:before, .tripadvisor-progress__line:before{
			background:  #e3c415;
		}
	}
	&__alert{
		background: #82b51f;
		color: #fff;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 13px 25px;
	}
	&__alert-text{
		flex: 1;
		box-sizing: border-box;
		padding: 0 20px;
		strong{
			display: block;
		}
		span{
			font-weight: 300;
		}
	}
	&__alert-ico{
		font-size: 45px;
	}
	&__line{
		margin-top: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			height: 1px;
			width: 100%;
			background: #82b51f;
		}
		span{
			width: 22px;
			height: 22px;
			border-radius: 50%;
			border: 1px solid #82b51f;
			position: relative;
			display: inline-block;
			background: #fff;
			z-index: 2;
			&:before{
				content: '';
				width: 12px;
				height: 12px;
				background: #82b51f;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}
.mb-15{
	margin-bottom: 15px;
}
.advisor-list{
	@include mq($max-width: 1200px) {
		margin-bottom: 3rem;
	}
	.new-repeater{
		padding-top: 0;
		padding-bottom: 15px;
	}
	.install-accordion__ico{
		margin: 0;
		height: auto;
	}
	.new-repeater__text{
		width: auto;
	}
	&__right{
		text-align: right;
		font-size: 14px;
		color: #2d4159;
		@include mq($max-width: 767px) {
			font-size: 12px;
		}
		span{
			padding: 0 20px;
			@include mq($max-width: 992px) {
				padding: 0 5px;
			}
		}
		input{
			height: 42px;
			background: #f1f1f1;
			border-radius: 0;
			border: none;
			display: inline-block;
			padding: 0 5px;
			text-align: center;
			width: 50px;
			-moz-appearance: none;
				-webkit-appearance: none;
				appearance: none;
				@include mq($max-width: 767px) {
					height: 30px;
					padding: 0 10px;
				}
		}
	}
}
.select-double-arrows{
	height: 42px;
	background: #f1f1f1;
	border-radius: 0;
	border: none;
	display: inline-block;
	padding: 0 25px;
	-moz-appearance: none;
    -webkit-appearance: none;
		appearance: none;
		@include mq($max-width: 767px) {
			height: 30px;
			padding: 0 10px;
		}
}
.tags-list{
	.panel-heading{
		border-bottom: 1px solid #4a5b7a;
		background: #f7f7f7;
		font-size: 16px;
		color: #2d4159;
	}
	.panel-body{
		background: #f1f1f1;
	}
	&__section{
		padding: 0;
		margin: 0;
		position: relative;
		display: block;
		list-style: none;
		li{
			display: inline-block;
			padding: 5px 5px 5px 10px;
			background: #4a5b7a;
			color: #fff;
			margin-bottom: 7px;
			border-radius: 14px;
			font-size: 14px;
			.fa{
				color: #2d3a50;
				cursor: pointer;
				padding-left: 5px;
			}
			&.tags-list__plus{
				position: absolute;
				right: -10px;
				top: -5px;
				color: #2d3a50;
				font-size: 20px;
				cursor: pointer;
				background: none;
			}
		}
	}
}
.content .install-content .row{
	//margin-right: -15px;
}
.selectpicker-wrap{
	height: 100%;
	.bs-searchbox{
		padding:  10px;
		input{
			border: 1px solid #4a5b7a;
			border-radius: 0;
			height: 30px;
			box-shadow: none; 
		}
	}
	.open .dropdown-toggle.btn-default{
		background: #f1f1f1;
	}
	.bootstrap-select{
		height: 100%;
	}
	select{
		display: none;
	}
	.filter-option-inner-inner{
		white-space: nowrap;
		text-overflow: ellipsis;
		//max-width: 80%;
		overflow: hidden;
		@include mq($max-width: 767px) {
			overflow: hidden;
		}
	}
	.btn .filter-option-inner-inner{
		.glyphicon{
			font-size: 1.2em;
			padding-right: 10px;
		}
	}
	.filter-option{
		max-width: 100%;
	}
	.btn{
		width: 100%;
		background: #f1f1f1;
		border-radius: 0;
		display: block;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: none !important;
		border: none;
			color: #2d4159;
			font-size: 14px;
			font-weight: 600;
			.glyphicon{
				padding-right: 20px;
				font-size: 1.5em;
				vertical-align: middle;
			}
		&:before, &:after{
			display: none;
		}
		&.bs-placeholder{
			font-style: italic;
			color: #7c7c7c;
			font-family: 'Open Sans';
			font-size: 14px;
			@include mq($max-width: 600px) {
				//font-size: 12px;
				font-size: 10px;
			}
		}
		@include mq($max-width: 600px) {
			//font-size: 12px;
			font-size: 10px;
		}
	}
	.btn-group{
		height: 100%;
		display: block;
	}
	.dropdown-menu{
		width: 100%;
		background-color: #f1f1f1;    
		//padding: 0 25px;  
		list-style: none;
		width: 100%;
		border-radius: 0;
		border: none;
		padding: 0;
		min-width: 20px;
		border-top: 1px solid #4a5b7a;
		.dropdown-menu{
			position: static;
			margin: 0;
			border-top: none;
		}
		a{
			padding-top: 7px;
			padding-bottom: 7px;
			color: #2d4159;
			font-size: 14px;
			font-weight: 600;
			&:hover{
				background: #4a5b7a;
				color: #fff;
				.pull-left{
					color: #fff;
				}
			}
			&:before, .glyphicon{
				padding-right: 20px;
				font-size: 1.5em;
				vertical-align: middle;
				@include mq($max-width: 600px) {
					padding-right: 4px;
				}
			}
			@include mq($max-width: 600px) {
				font-size: 10px;
				padding-left: 5px;
				padding-right: 5px;
				width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
		.pull-left{
			color: #2d4159;
			font-size: 14px;
			font-weight: 600;
			font-family: 'Open Sans';
		}
		.check-mark{
			display: none;
		}
		.multiple-option{
			.check-mark{
				display: inline-block;
				font-size: 0.8em;
				padding-right: 5px;
				display: none;
			}
		}
		.dropdown-header{
			font-size: 1.2em;
			font-weight: bold;
			padding-bottom: 0.5em;
		}
		a.opt{
			padding-left: 2em;
			font-weight: bold;
		}
	}
	.selected{
		a{
			background: #4a5b7a;
			color: #fff;
			.pull-left{
				color: #fff;
			}
		}
	}
	.hide-selected{
		display: none;
	}
	.pull-left, .pull-right{
		float: none !important;
	}
	.caret{
		@include arr(12,10, #4a5b7a, b);
	}
	.selectpicker_icon{

	}
}
.panel-heading{
	.panel-title-icon{
		font-size: 24px;
		padding: 0 10px 0 0;
		vertical-align: middle;
		&.fa-suitcase{
			vertical-align: text-bottom;
		}
		&.ag-icon-wifi{
			vertical-align: sub;	
		}
	}
}
.radio-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 10px;
}
	.radio-button{
		font-size: 14px;
		color: #2d4159;
		font-weight: normal;
		position: relative;
		margin-bottom: 10px;
		line-height: 25px;
		input{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			opacity: 0;
			&:checked + span:before{
				background: #4a5b7a;
				content: "\f00c";
			} 
		}
		span{
			padding-left: 35px;
			&:before{
				content: '';
				width: 25px;
				height: 25px;
				display: inline-block;
				border-radius: 50%;
				border: 1px solid #2d3a50;
				position: absolute;
				left: 0;
				top: 0px;
				color: #fff;
				line-height: 25px;
				text-align: center;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
.schedule-table{
	overflow-x: auto;
	margin-bottom: 20px;
	table{
		width: 100%;
		text-align: center;
		th,td{
			border: 4px solid #fff;
			text-align: center;
		}
		th{
			border-bottom: 15px solid #fff;
		}
	}
	&__green{
		background: #89cc89;
		color: #ffffff;
		font-size: 16px;
		padding: 15px 5px;
		font-weight: normal;
		@include mq($max-width: 600px) {
			font-size: 14px;
		}
	}
	&__red{
		background: #e48380;
		color: #ffffff;
		font-size: 16px;
		padding: 15px 5px;
		font-weight: normal;
		@include mq($max-width: 600px) {
			font-size: 14px;
		}
	}
	&__time{
		font-size: 14px;
		color: #2d4159;
		background: #f1f1f1;
		padding: 9px 0;
	}
	&__to{
		position: relative;
		&:before{
			content: '';
			left: 0;
			height: 2px;
			width: 100%;
			background: #4a5b7a;
			position: absolute;
			top: 50%;
			margin-top: -1px;
		}
		strong{
			background: #ffffff;
			position: relative;
			z-index: 2;
			padding: 0 8px;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	&__plus{
		width: 29px;
		height: 29px;
		border-radius: 50%;
		margin: 5px auto;
		font-size: 20px;
		color: #2d4159;
		background: #ededec;
		line-height: 29px;
		cursor: pointer;
		@include mq($max-width: 600px) {
			font-size: 14px;
			width: 20px;
			height: 20px;
			line-height: 20px;
		}
	}
}
.schedule-sync{
	position: relative;
	text-align: center;
	margin-bottom: 25px;
	&:before{
		content: '';
		left: 0;
		height: 2px;
		width: 100%;
		background: #f1f1f1;
		position: absolute;
		top: 50%;
		margin-top: -1px;
	}
	.btn{
		position: relative;
		z-index: 1;
		border-radius: 0;
		background: #f1f1f1;
		border: none;
		color: #4a5b7a;
		i{
			padding-right: 15px;
		}
	}
}

.box-holder, .site-holder{
	@include mq($max-width: 767px) {
		min-height: 10px !important;
		padding-bottom: 20px;
	}
}
.relative{
	position: relative;
}
.option-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
	@include mq($max-width: 550px) {
		display: block;
		margin-bottom: 10px;
	}
	.panel-title{
		padding-left: 5px;
		@include mq($max-width: 550px) {
			font-size: 12px;
		}
	}
	.panel-body{
		padding-left: 4px;
		padding-right: 4px;
	}
	.tags-list__section li.tags-list__plus{
		right: 0;
	}
	.tags-list{
		margin: 0 2px;
		flex: 1;
		@include mq($max-width: 550px) {
			margin: 2px 0;
		}
	}
}
	.option-numb{
		background: #4a5b7a;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		color: #fff;
		flex-direction: column;
		padding: 5px;
		strong{
			display: block;
			width: 100%;
			text-align: left;
			font-size: 30px;
			font-weight: normal;
			@include mq($max-width: 550px) {
				text-align: center;
			}
		}
	}
	
	.option-delete{
		background: #f7f7f7;
		padding: 10px 5px;
		font-size: 24px;
		a{
			color: #4a5b7a;
		}
		@include mq($max-width: 550px) {
			text-align: center;
		}
	}
	.option-wrap{
		margin-top: 15px;
	}
.option-button{
	text-align: right;
	padding: 25px 0 40px 0;
}
.option-check{
	.pull-right{
		padding-right: 20px;
		span{
			font-size: 14px;
			color: #2d4159;
			padding-left: 5px;
			@include mq($max-width: 450px) {
				font-size:10px;
			}
		}
	}
}
.panel-install .option-check .col-8{
	background: none;
}

.router-row{
	display: flex;
	margin-left:-4px;
	margin-right:-4px;
	@include mq($max-width: 767px) {
		display: block;
	}
	& > div{
		margin:0 4px;
		width: 100%;
	}
	.install-row .install-accordion__ico{
		margin-left: -3px;
	}
	.install-accordion__subtitle{
		display: flex;
		margin-left: -5px;
		font-size: 14.6px;
		@include mq($max-width: 992px) {
			font-size:12px;
		}
		@include mq($max-width: 450px) {
			font-size:10px;
			
		}
		span{
			color: #ecab5c;
			padding-right: 7px;
			font-size: 1.5em;
			vertical-align: middle;
			line-height: 1em;
			@include mq($max-width: 767px) {
				font-size: 1.4em;
				line-height: 1;
			}
		}
	}
}
.space-between{
	justify-content: space-between;
}
.align-center{
	align-items: center;
}
.flex-end{
	justify-content: flex-end;
}
.error-message{
	text-align: center;
	padding: 6px 15px;
	background: #de5b64;
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 10px;
}
.setup-router-row{
	display: flex;
	//justify-content: space-between;
	margin-left: -2px;
	margin-right: -2px;
	margin-bottom: 15px;
	@include mq($max-width: 767px) {
		display: block;
	}
	.install-accordion__ico{
		margin: 0;
		height: 100%;
		@include mq($max-width: 767px) {
			width: 100%;
			padding: 15px ;
			margin-bottom: 4px;
		}
	}
}
	.setup-router-col{
		margin: 0 2px;
		.panel-install{
			background: #f7f7f7;
			.panel-heading{
				text-align: center;
			}
			.panel-body{
				padding: 0;
			}
		}
		@include mq($max-width: 767px) {
			margin: 0;
		}
	}
.setup-router-list{
	margin-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include mq($max-width: 767px) {
		margin-bottom: 4px;
	}
	.flex-row{
		background: #f7f7f7;
		margin-bottom: 5px;
		flex: 1;
		&:last-child{
			margin-bottom: 0;
		}
		.col{
			padding-right: 0;
			flex: 1;
			&:first-child{
				display: flex;
				align-items: center;
			}
		}
	}
}
.setup-router-list__title{
	padding: 5px 0;
	font-size: 16px;
	color: #2d4159;
	@include mq($max-width: 450px) {
		font-size: 12px;
	}
}
.setup-router-checkbox{
	background: #f7f7f7;
	padding: 10px;
	text-align: center;
	@include mq($max-width: 767px) {
		display: flex;
		text-align: left;
		justify-content: space-between;
		position: relative;
		padding-right: 40px;
		margin-bottom: 4px;
		align-items: center;
		.install-accordion__info{
			right: 10px;
		}
	}
	h6{
		font-size: 16px;
		color: #2d4159;
		position: relative;
		padding: 0 30px;
		margin-bottom: 15px;
		margin-top: 5px;
		@include mq($max-width: 767px) {
			padding: 0 0 0 3px;
			margin: 0;
			position: static;
		}
		@include mq($max-width: 450px) {
			font-size: 12px;
		}
	}
	.install-accordion__change{
		margin-right: 0;
	}
}
.setup-router-button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #41afdc;
	padding: 0 30px;
	font-size: 20px;
	color: #ffffff;
	flex-direction: column;
	text-decoration: none;
	@include mq($max-width: 767px) {
		flex-direction: row;
		padding: 10px 15px;
	}
	i{
		padding-bottom: 5px;
		display:  block;
		@include mq($max-width: 767px) {
			padding-bottom: 0;
			padding-right: 5px;
		}
	}
	&:hover{
		text-decoration: none;
		color: #fff;
		background: #2898c6;
	}
}
.setup-router-select, .setup-router-checkbox, .setup-router-list{
	flex: 1;
}
.setup-router-select{
	.install-accordion__info{
		right: 10px;
	}
	.panel{
		margin-bottom: 0;
		height: 100%;
		background: #f1f1f1;
		border-radius: 0;
		@include mq($max-width: 767px) {
			display: flex;
			text-align: left;
			justify-content: space-between;
			position: relative;
			padding-right: 40px;
			text-align: left;
			margin-bottom: 4px;
			.install-accordion__info{
				right: 10px;
			}
		}
	}
	.panel-heading{
		background: #f7f7f7;
		@include mq($max-width: 767px) {
			flex: 1;
			border-bottom: none;
			text-align: left;
		}
	}
	.panel-title{
		@include mq($max-width: 767px) {
			padding-left: 15px;
			text-align: left;
			font-size: 16px;
		}
		@include mq($max-width: 450px) {
			font-size: 12px;
		}
	}
}
.fake-file{
	position: relative;
	display: inline-block;
	input{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 2;
		opacity: 0;
	}
}
.router-white{
	display: flex;
	@include mq($max-width: 767px) {
		display: block;
	}
	.new-repeater{
		padding: 0;
		margin-bottom: 20px;
		flex: 1;
		&:first-child{
			margin-right: 4px;
		}
		@include mq($max-width: 767px) {
			margin-bottom: 10px;
		}
	}
	.new-repeater__text{
		width: auto;
	}
	.new-repeater__input{
		width: auto;
		flex: 1;
		@include mq($max-width: 767px) {
			flex: 2;
		}
		input{
			width: 100%;
		}
		@include mq($max-width: 767px) {
		margin-top: 0;
		margin-bottom: 0;
		}
	}
	.new-repeater__icon{
		background: #3aacb9;
	}
}
.content{
	padding-bottom: 80px;
}
.self-center{
	align-self: center;
}

.error{
	color: #f00 !important;
}
.install-row{
	.install-accordion__ico{
		margin-left: -18px;
	}
}