@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?uj8u1t");
  src: url("../fonts/icomoon.eot?uj8u1t#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?uj8u1t") format("truetype"), url("../fonts/icomoon.woff?uj8u1t") format("woff"), url("../fonts/icomoon.svg?uj8u1t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ag-icon-"], [class*=" ag-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ag-icon-googleplus:before {
  content: "\e91e"; }

.ag-icon-instagram:before {
  content: "\e91f"; }

.ag-icon-login:before {
  content: "\e920"; }

.ag-icon-promo:before {
  content: "\e921"; }

.ag-icon-share-link:before {
  content: "\e922"; }

.ag-icon-share-link2:before {
  content: "\e923"; }

.ag-icon-speed:before {
  content: "\e924"; }

.ag-icon-wifi1:before {
  content: "\e925"; }

.ag-icon-fb:before {
  content: "\e926"; }

.ag-icon-link:before {
  content: "\e927"; }

.ag-icon-pms:before {
  content: "\e928"; }

.ag-icon-repeater:before {
  content: "\e929"; }

.ag-icon-router:before {
  content: "\e92a"; }

.ag-icon-tripadvisor2:before {
  content: "\e92b"; }

.ag-icon-key:before {
  content: "\e92c"; }

.ag-icon-arrow_desplazar1:before {
  content: "\e92d"; }

.ag-icon-share1:before {
  content: "\e91d"; }

.ag-icon-arrow_desplazar:before {
  content: "\e900"; }

.ag-icon-arrow:before {
  content: "\e901"; }

.ag-icon-base_datos:before {
  content: "\e902"; }

.ag-icon-birthday:before {
  content: "\e903"; }

.ag-icon-calendar:before {
  content: "\e904"; }

.ag-icon-check:before {
  content: "\e905"; }

.ag-icon-coins:before {
  content: "\e906"; }

.ag-icon-clock:before {
  content: "\e907"; }

.ag-icon-calendar2:before {
  content: "\e908"; }

.ag-icon-facebook:before {
  content: "\e909"; }

.ag-icon-graphic:before {
  content: "\e90a"; }

.ag-icon-idioma:before {
  content: "\e90b"; }

.ag-icon-info:before {
  content: "\e90c"; }

.ag-icon-like_line:before {
  content: "\e90d"; }

.ag-icon-like:before {
  content: "\e90e"; }

.ag-icon-mail:before {
  content: "\e90f"; }

.ag-icon-pencil:before {
  content: "\e910"; }

.ag-icon-Prize:before {
  content: "\e911"; }

.ag-icon-quote_mark:before {
  content: "\e912"; }

.ag-icon-shake-hand:before {
  content: "\e913"; }

.ag-icon-share_line:before {
  content: "\e914"; }

.ag-icon-share:before {
  content: "\e915"; }

.ag-icon-sharing:before {
  content: "\e916"; }

.ag-icon-speaker_linea:before {
  content: "\e917"; }

.ag-icon-speaker:before {
  content: "\e918"; }

.ag-icon-test:before {
  content: "\e919"; }

.ag-icon-TripAdvisor-logo:before {
  content: "\e91a"; }

.ag-icon-whatsapp:before {
  content: "\e91b"; }

.ag-icon-wifi:before {
  content: "\e91c"; }

.menu {
  border-bottom: 4px solid #4a5b7a;
  padding-bottom: 4px; }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 -3px;
    display: flex;
    text-align: center; }
    .menu ul li {
      width: 20%;
      box-sizing: border-box;
      padding: 0 2.5px; }
      .menu ul li.active a {
        text-decoration: none;
        background: #2d4159;
        color: #fff; }
        .menu ul li.active a img {
          filter: brightness(25); }
    .menu ul a {
      display: block;
      width: 100%;
      padding: 14px 10px;
      background: #f7f7f7;
      color: #2d4159;
      font-size: 16px;
      font-weight: 600; }
      .menu ul a img {
        vertical-align: middle;
        padding: 0 10px 0 0; }
      .menu ul a i {
        font-size: 20px;
        padding-right: 10px;
        vertical-align: middle; }
      .menu ul a:hover {
        text-decoration: none;
        background: #2d4159;
        color: #fff; }
        .menu ul a:hover img {
          filter: brightness(25); }
  @media only screen and (max-width: 992px) {
    .menu {
      display: none; } }

@media only screen and (min-width: 993px) {
  .menu-mobile {
    display: none; } }

.menu-mobile__trigger {
  display: flex;
  cursor: pointer;
  margin-bottom: 15px; }
  .menu-mobile__trigger span {
    min-width: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a5b7a;
    color: #fff;
    font-size: 20px; }

.menu-mobile__item {
  background: #4a5b7a;
  border-right: 4px solid #fff;
  flex: 1;
  text-align: center;
  width: 100%;
  padding: 14px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff; }
  .menu-mobile__item a {
    color: #fff;
    text-decoration: none; }
  .menu-mobile__item img {
    vertical-align: middle;
    padding: 0 10px 0 0; }
  .menu-mobile__item i {
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle; }

.menu-mobile.open ul {
  display: block; }

.menu-mobile ul {
  list-style: none;
  padding: 0;
  margin: 0 -3px;
  text-align: center;
  display: none; }
  .menu-mobile ul li {
    box-sizing: border-box;
    padding: 0 2.5px; }
    .menu-mobile ul li.active a {
      text-decoration: none;
      background: #2d4159;
      color: #fff; }
      .menu-mobile ul li.active a img {
        filter: brightness(25); }
  .menu-mobile ul a {
    display: block;
    width: 100%;
    padding: 14px 10px;
    background: #f7f7f7;
    color: #2d4159;
    font-size: 16px;
    font-weight: 600; }
    .menu-mobile ul a img {
      vertical-align: middle;
      padding: 0 10px 0 0; }
    .menu-mobile ul a i {
      font-size: 20px;
      padding-right: 10px;
      vertical-align: middle; }
    .menu-mobile ul a:hover {
      text-decoration: none;
      background: #2d4159;
      color: #fff; }
      .menu-mobile ul a:hover img {
        filter: brightness(25); }

@media only screen and (max-width: 992px) {
  .install-preview-wrap {
    display: none; } }

.panel-install {
  box-shadow: none; }
  .panel-install .panel-heading {
    padding-left: 0;
    color: #2d4159;
    border-bottom: 1px solid #2c4159; }
  .panel-install .panel {
    border-radius: 0;
    border: none;
    box-shadow: none;
    overflow: auto; }
  .panel-install .panel-body .flex-row {
    background: #f7f7f7;
    border-bottom: 7px solid #fff; }
  .panel-install .panel-body .col-8 {
    background: #f1f1f1; }
  .panel-install .panel-body .install-accordion__change {
    vertical-align: middle; }
  .panel-install__2col {
    display: flex; }
    .panel-install__2col .row {
      background: none; }
    .panel-install__2col .install-accordion__subtitle {
      min-width: 15%; }
      @media only screen and (max-width: 992px) {
        .panel-install__2col .install-accordion__subtitle {
          min-width: 24%; } }
  .panel-install__2col-right {
    display: flex;
    width: 100%; }
    .panel-install__2col-right .flex-row {
      min-width: calc(50% + -5px);
      width: 49%;
      margin-right: 10px; }
      @media only screen and (max-width: 992px) {
        .panel-install__2col-right .flex-row {
          width: 100%;
          min-width: 100%;
          margin-right: 0; } }
    @media only screen and (max-width: 992px) {
      .panel-install__2col-right {
        display: block; } }
  @media only screen and (max-width: 992px) {
    .panel-install .panel-title {
      font-size: 18px; } }

.install-row {
  display: flex;
  justify-content: space-between; }
  .install-row a {
    text-decoration: none; }

.install-accordion .panel-heading {
  border-radius: 0;
  border-bottom: none; }

.install-accordion .panel {
  border-radius: 0;
  border: none;
  box-shadow: none;
  overflow: visible; }

.install-accordion__ico {
  height: calc(100% + 24px);
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: -12px 10px 0px -19px;
  font-size: 20px;
  color: #fff; }
  @media only screen and (max-width: 992px) {
    .install-accordion__ico {
      width: 40px; } }
  .install-accordion__ico.fb {
    background: #3a72b9; }
  .install-accordion__ico.mail {
    background: #4a5b7a; }
  .install-accordion__ico.insta {
    background-image: linear-gradient(40deg, #f6ac58 0%, #df4e5d 27%, #c93580 65%, #5c6cb3 100%); }
  .install-accordion__ico.gplus {
    background: #d65544; }
  .install-accordion__ico.sett {
    background: #3aacb9; }

.install-accordion .panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top: none; }

.install-accordion__title {
  color: #2d4159;
  font-size: 20px;
  font-weight: 400; }
  @media only screen and (max-width: 992px) {
    .install-accordion__title {
      font-size: 15px; } }
  @media only screen and (max-width: 450px) {
    .install-accordion__title {
      font-size: 11px; } }

.install-accordion__plus {
  line-height: 21px;
  display: inline-block; }
  .install-accordion__plus a {
    padding: 0;
    color: #2c4159;
    font-weight: 300;
    text-decoration: none !important; }
    .install-accordion__plus a:before {
      content: '-';
      color: #2c4159;
      font-size: 30px;
      font-weight: 300;
      line-height: 1; }
      @media only screen and (max-width: 992px) {
        .install-accordion__plus a:before {
          font-size: 23px; } }
      @media only screen and (max-width: 450px) {
        .install-accordion__plus a:before {
          font-size: 18px; } }
    .install-accordion__plus a.collapsed:before {
      content: '+'; }

.install-accordion__change {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  margin-bottom: 0; }
  .install-accordion__change input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0; }
  .install-accordion__change input:checked + .install-accordion__change-inner {
    border: 1px solid #70a012;
    background-color: #82b51f; }
    .install-accordion__change input:checked + .install-accordion__change-inner:before {
      float: right; }
    .install-accordion__change input:checked + .install-accordion__change-inner .fa {
      left: 10px;
      right: auto;
      color: #f1f1f1; }
      .install-accordion__change input:checked + .install-accordion__change-inner .fa::before {
        content: "\f00c"; }

.install-accordion__change-inner {
  width: 53px;
  height: 23px;
  border-radius: 12px;
  border: 1px solid #d6d6d6;
  background-color: #e2e2e2;
  cursor: pointer;
  position: relative;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .install-accordion__change-inner:before {
    width: 21px;
    height: 21px;
    border: 1px solid #f1f1f1;
    background-color: #f7f7f7;
    border-radius: 50%;
    content: '';
    display: block;
    float: left;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }
  .install-accordion__change-inner .fa {
    position: absolute;
    top: 3px;
    font-size: 13px;
    right: 10px;
    color: #f1f1f1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }
    .install-accordion__change-inner .fa:before {
      content: "\f00d"; }
  .install-accordion__change-inner.enabled {
    border: 1px solid #70a012;
    background-color: #82b51f; }
    .install-accordion__change-inner.enabled:before {
      float: right; }
    .install-accordion__change-inner.enabled .fa {
      left: 10px;
      right: auto;
      color: #f1f1f1; }

.install-accordion .panel-body {
  padding-left: 50px;
  padding-right: 0; }
  .install-accordion .panel-body .row, .install-accordion .panel-body .flex-row {
    background: #f7f7f7;
    border-bottom: 7px solid #fff; }
  .install-accordion .panel-body .col-8 {
    background: #f1f1f1; }
  .install-accordion .panel-body .install-accordion__change {
    vertical-align: middle; }
  @media only screen and (max-width: 992px) {
    .install-accordion .panel-body {
      padding-left: 25px; } }

.install-accordion__subtitle {
  font-size: 20px;
  color: #2d4159;
  position: relative;
  padding: 13px 0; }
  @media only screen and (max-width: 992px) {
    .install-accordion__subtitle {
      font-size: 14px; } }
  @media only screen and (max-width: 450px) {
    .install-accordion__subtitle {
      font-size: 10px; } }

.install-accordion__section {
  font-size: 20px;
  color: #2d4159;
  background: #f1f1f1;
  padding: 13px 0;
  height: 100%;
  padding-right: 30px;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .install-accordion__section {
      font-size: 13px;
      padding-right: 0; } }
  @media only screen and (max-width: 450px) {
    .install-accordion__section {
      font-size: 11px; } }
  .install-accordion__section input {
    width: 100%;
    color: #7c7c7c;
    font-size: 20px;
    background: none;
    border: none;
    padding: 0 5px; }
    @media only screen and (max-width: 992px) {
      .install-accordion__section input {
        font-size: 13px; } }
    @media only screen and (max-width: 450px) {
      .install-accordion__section input {
        font-size: 10px; } }

.install-accordion__info {
  position: absolute;
  right: 0;
  font-size: 23px;
  color: #dbdbdb;
  top: 50%;
  transform: translateY(-50%); }

.install-preview {
  max-width: 376px;
  padding: 15% 0 20% 0;
  margin: 0 auto;
  text-align: center;
  background: url(../images/iphone.png) no-repeat center top;
  background-size: contain; }
  .install-preview img {
    max-width: 100%;
    padding: 0 20%; }

.flex-row {
  display: flex; }
  .flex-row .col, .flex-row .col-6, .flex-row .col-4, .flex-row .col-8, .flex-row .col-12 {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; }
    .flex-row .col.pad-r0, .flex-row .col-6.pad-r0, .flex-row .col-4.pad-r0, .flex-row .col-8.pad-r0, .flex-row .col-12.pad-r0 {
      padding-right: 0; }
  .flex-row.align-center {
    align-items: center; }

.col-6 {
  width: 50%; }

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-12 {
  flex: 1;
  max-width: 100%; }

.pad-l0 {
  padding-left: 0; }

.pad-r0 {
  padding-right: 0; }

.pt0 {
  padding-top: 0; }

.pb0 {
  padding-bottom: 0; }

.flex-width {
  flex: 1; }

.install-nav {
  padding: 8px 0;
  border-top: 4px solid #4a5b7a;
  text-align: center;
  position: fixed;
  z-index: 100;
  right: 15px;
  bottom: 0;
  background: #fff;
  width: calc(100% - 275px); }
  @media only screen and (max-width: 1279px) {
    .install-nav {
      width: 100%;
      right: 0; } }
  .install-nav .btn {
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 15px 70px;
    border: none; }
    @media only screen and (max-width: 992px) {
      .install-nav .btn {
        padding: 9px 20px;
        font-size: 13px; } }
    @media only screen and (max-width: 450px) {
      .install-nav .btn {
        font-size: 10px; } }
  @media only screen and (max-width: 992px) {
    .install-nav {
      border-width: 3px; } }
  .install-nav .btn-empty {
    color: #4a5b7a; }
  .install-nav .btn-primary {
    background: #4a5b7a; }
    .install-nav .btn-primary:hover {
      opacity: 0.8; }

.drop-down {
  position: relative;
  display: block;
  width: auto;
  margin-top: 0; }
  .drop-down .button span {
    color: #2d4159;
    font-size: 18px;
    font-family: 'Open Sans';
    cursor: pointer; }
    .drop-down .button span:before {
      font-family: 'icomoon', FontAwesome;
      font-size: 28px;
      vertical-align: middle;
      display: inline-block;
      padding-right: 25px; }
    .drop-down .button span.seleccionar {
      font-style: italic;
      padding-left: 50px;
      color: #7c7c7c;
      font-family: 'Open Sans'; }

.drop-down .select-list {
  position: absolute;
  top: 0;
  left: -15px;
  z-index: 1;
  margin: 0;
  margin-top: 40px;
  background-color: #f1f1f1;
  padding: 0 25px;
  list-style: none;
  width: 100%; }

.drop-down .select-list li {
  display: none;
  border-top: 1px solid #fff; }
  .drop-down .select-list li:first-child {
    border-top: none; }
    .drop-down .select-list li:first-child:after {
      border-top: 1px solid #4a5b7a;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }

.drop-down .select-list li span {
  display: inline-block;
  min-width: 280px;
  width: 100%;
  padding: 10px 0;
  text-align: left;
  box-sizing: border-box;
  color: #2d4159;
  font-size: 18px;
  font-family: 'Open Sans';
  cursor: pointer; }
  .drop-down .select-list li span:before {
    font-family: 'icomoon', FontAwesome;
    font-size: 28px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 25px; }

.drop-down .select-list li span:hover,
.drop-down .select-list li span:focus {
  opacity: 1; }

.select-list-link {
  font-size: 0;
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateY(-50%); }
  .select-list-link:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 14px 8px 0 8px;
    border-color: #4a5b7a transparent transparent transparent; }

/* select with custom icons */
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
  padding: 0.5em 0 0.5em 3em; }

.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
  height: 24px;
  width: 24px;
  top: 0.1em; }

/* select with CSS avatar icons */
option.avatar {
  background-repeat: no-repeat !important;
  padding-left: 20px; }

.avatar .ui-icon {
  background-position: left top; }

.ui-widget-content {
  border: none;
  margin-left: -15px;
  transform: translateY(15px);
  background: #f1f1f1;
  border-radius: 0;
  border-top: 1px solid #4a5b7a;
  box-shadow: 0 0 16px rgba(223, 223, 223, 0.6); }

.ui-menu-item {
  position: relative; }

.ui-menu-item-wrapper {
  background: none;
  padding: 10px 0;
  text-align: left;
  box-sizing: border-box;
  color: #2d4159;
  font-size: 18px;
  font-family: 'Open Sans';
  min-height: 45px;
  padding-left: 50px; }
  @media only screen and (max-width: 992px) {
    .ui-menu-item-wrapper {
      font-size: 13px;
      padding: 5px 0;
      min-height: 30px;
      padding-left: 25px; } }
  @media only screen and (max-width: 450px) {
    .ui-menu-item-wrapper {
      font-size: 10px; } }

.ui-menu .ui-icon {
  background: none;
  text-indent: 0;
  width: auto;
  height: auto;
  left: 0;
  top: 50%;
  font-size: 28px;
  color: #2d4159;
  transform: translateY(-50%); }
  @media only screen and (max-width: 992px) {
    .ui-menu .ui-icon {
      font-size: 16px; } }
  @media only screen and (max-width: 450px) {
    .ui-menu .ui-icon {
      font-size: 14px; } }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: none;
  background: none;
  font-weight: bold;
  color: #2d4159; }

.ui-menu .ui-menu-item {
  margin: 0 25px;
  border-top: 1px solid #fff;
  cursor: pointer; }
  .ui-menu .ui-menu-item:first-child {
    border-top: none; }
  @media only screen and (max-width: 992px) {
    .ui-menu .ui-menu-item {
      margin: 0 10px; } }

.ui-widget-content {
  max-width: 544px; }
  @media only screen and (max-width: 992px) {
    .ui-widget-content {
      max-width: 300px; } }
  @media only screen and (max-width: 500px) {
    .ui-widget-content {
      max-width: 200px; } }

.ui-selectmenu-menu {
  display: none; }
  .ui-selectmenu-menu.ui-selectmenu-open {
    display: block; }

.ui-selectmenu-button {
  width: 100%;
  display: block;
  text-align: left;
  position: relative; }

.ui-selectmenu-icon {
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 14px 8px 0 8px;
  border-color: #4a5b7a transparent transparent transparent; }
  @media only screen and (max-width: 992px) {
    .ui-selectmenu-icon {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 9px 5px 0 5px;
      border-color: #4a5b7a transparent transparent transparent; } }

.ui-selectmenu-text {
  color: #2d4159;
  font-size: 18px;
  font-family: 'Open Sans'; }
  @media only screen and (max-width: 992px) {
    .ui-selectmenu-text {
      font-size: 13px; } }
  @media only screen and (max-width: 450px) {
    .ui-selectmenu-text {
      font-size: 10px; } }

@media only screen and (max-width: 992px) {
  .acc-info-wrap {
    padding-right: 20px; } }

.new-repeater {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media only screen and (max-width: 450px) {
    .new-repeater {
      flex-wrap: wrap; } }
  .new-repeater__icon {
    background: #4d5b77;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    color: #fff;
    font-size: 30px; }
    @media only screen and (max-width: 992px) {
      .new-repeater__icon {
        font-size: 25px; } }
  .new-repeater__text {
    padding: 15px 13px;
    font-size: 20px;
    color: #2d4159;
    background: #f7f7f7;
    width: 260px; }
    @media only screen and (max-width: 992px) {
      .new-repeater__text {
        font-size: 13px;
        width: auto; } }
    @media only screen and (max-width: 450px) {
      .new-repeater__text {
        flex: 1; } }
  @media only screen and (max-width: 450px) {
    .new-repeater__input {
      width: 100%;
      margin: 10px 0; } }
  .new-repeater__input input {
    height: 100%;
    padding: 0 24px;
    border: none;
    background: #f1f1f1;
    font-size: 20px;
    color: #7c7c7c;
    width: 530px;
    box-sizing: border-box; }
    @media only screen and (max-width: 992px) {
      .new-repeater__input input {
        font-size: 13px;
        width: auto; } }
    @media only screen and (max-width: 450px) {
      .new-repeater__input input {
        width: 100%;
        padding: 15px; } }
  .new-repeater__button {
    display: flex; }
    .new-repeater__button button {
      display: inline-block;
      height: 100%;
      border-radius: 0;
      font-size: 20px;
      border: none; }
      .new-repeater__button button:hover {
        opacity: .9; }
      @media only screen and (max-width: 992px) {
        .new-repeater__button button {
          font-size: 13px;
          width: auto; } }
    .new-repeater__button .btn-primary {
      background: #4d5b77;
      border: none;
      margin-right: 10px;
      padding-left: 40px;
      padding-right: 40px; }
      @media only screen and (max-width: 992px) {
        .new-repeater__button .btn-primary {
          padding-left: 15px;
          padding-right: 15px; } }
    .new-repeater__button .btn-success {
      padding-left: 20px;
      padding-right: 20px; }
      @media only screen and (max-width: 992px) {
        .new-repeater__button .btn-success {
          padding-left: 15px;
          padding-right: 15px; } }

.repeaters-table {
  overflow-x: auto; }
  .repeaters-table table {
    width: 100%; }
    .repeaters-table table td, .repeaters-table table th {
      border: 1px solid #4a5b7a;
      color: #2d4159;
      font-size: 20px;
      padding: 15px; }
      @media only screen and (max-width: 992px) {
        .repeaters-table table td, .repeaters-table table th {
          font-size: 13px;
          padding: 5px; } }
      .repeaters-table table td a, .repeaters-table table th a {
        color: #4a5b7a; }
      .repeaters-table table td.green, .repeaters-table table th.green {
        background: #5cb85c;
        color: #fff; }
      .repeaters-table table td.red, .repeaters-table table th.red {
        color: #fff;
        background: #d9534f; }
      .repeaters-table table td.red-color, .repeaters-table table th.red-color {
        color: #d9534f; }
    .repeaters-table table tr:nth-child(even) td {
      background: #f9f9f9; }
      .repeaters-table table tr:nth-child(even) td.green {
        background: #5cb85c;
        color: #fff; }
      .repeaters-table table tr:nth-child(even) td.red {
        color: #fff;
        background: #d9534f; }
