.mt0 {
  margin-top: 0; }

.pt5 {
  padding-top: 5px; }

.relative {
  position: relative; }

a:focus {
  text-decoration: none; }

.content {
  margin-left: 232px; }

.navbar {
  margin-left: -21px;
  height: 64px;
  border: none;
  box-shadow: 0 0 10px rgba(27, 37, 54, 0.18);
  background-color: #26406f; }
  .navbar .badge {
    background: #53a1d2;
    min-width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    padding: 0;
    top: -2px;
    right: 0px;
    margin-left: -20px;
    position: absolute;
    font-size: 12px;
    z-index: 10; }
  .navbar .navbar-nav > li > a {
    padding: 0px 15px 0 15px;
    line-height: 56px;
    font-size: 16px; }
    .navbar .navbar-nav > li > a.dropdown-arrow {
      padding-right: 30px; }
  .navbar i {
    font-size: 20px; }
  .navbar .navbar-right {
    padding-right: 15px; }
  .navbar ul li {
    padding-top: 4px; }
    .navbar ul li:last-child .menu-item-user::before {
      display: none; }
  .navbar .open a.dropdown-toggle {
    background: #36507f !important;
    border-radius: 5px 5px 0 0;
    border: 1px solid #4e6996;
    border-bottom: none; }
    .navbar .open a.dropdown-toggle:hover {
      background: #36507f; }
  .navbar .dropdown-menu {
    padding: 5px 0;
    background: #36507f;
    box-shadow: 0 0 10px rgba(27, 37, 54, 0.18);
    border-radius: 5px;
    border: 1px solid #4e6996; }
    .navbar .dropdown-menu.menu-item-box-width {
      width: 100%; }
    .navbar .dropdown-menu a {
      color: #f7f7f7;
      font-size: 16px;
      font-weight: 300;
      padding-top: 10px;
      padding-bottom: 10px; }
      .navbar .dropdown-menu a i {
        padding-right: 5px;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        vertical-align: sub; }
      .navbar .dropdown-menu a:hover {
        background: #26406f;
        color: #fff; }

.site-holder.mini-sidebar .content {
  padding-top: 0; }
  .site-holder.mini-sidebar .content .navbar {
    margin-left: -10px; }

.menu-item-user {
  position: relative; }
  .menu-item-user:before {
    content: '';
    width: 1px;
    height: 45px;
    background: #4b6693;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -22.5px; }
  .menu-item-user i {
    padding-right: 10px;
    vertical-align: middle; }
  .menu-item-user.dropdown-arrow {
    padding-right: 20px; }
    .menu-item-user.dropdown-arrow:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 10px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 7px 4.5px 0 4.5px;
      border-color: #fff transparent transparent transparent; }
  .menu-item-user__name {
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #3aacb7;
    color: #f3f5f6;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 15px; }

.drag-menu {
  padding-left: 15px; }
  .drag-menu .ag-icon-menu_Mailing-excluidos {
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 12px; }
  .drag-menu ul {
    display: flex;
    color: #fff;
    list-style: none;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0; }
    .drag-menu ul li {
      font-size: 16px;
      font-weight: 300;
      position: relative;
      padding-top: 0; }
      .drag-menu ul li:before {
        content: '';
        width: 1px;
        height: 45px;
        background: #4b6693;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -22.5px; }
      .drag-menu ul li a {
        color: #fff;
        text-decoration: none;
        padding: 0 14px; }
        @media only screen and (max-width: 1400px) {
          .drag-menu ul li a {
            padding: 0 5px; } }
      .drag-menu ul li i {
        padding: 0 10px 0 0;
        vertical-align: middle; }
        .drag-menu ul li i.blue {
          color: #2aa2d7; }
        .drag-menu ul li i.violet {
          color: #936fc0; }
        .drag-menu ul li i.gray {
          color: #6d99c3; }

.left-sidebar {
  background: #f3f5f6;
  box-shadow: 0 0 10px rgba(27, 37, 54, 0.18);
  border-right: none;
  width: 210px; }
  .left-sidebar .sidebar-holder {
    padding-top: 20px; }
  .left-sidebar .nav-toggle, .left-sidebar .nav-toggle-hide {
    position: absolute;
    right: -17px;
    top: 40px;
    margin-top: 0 !important;
    z-index: 111122;
    transform: rotate(180deg); }
    .left-sidebar .nav-toggle i, .left-sidebar .nav-toggle-hide i {
      display: block;
      position: relative;
      line-height: 1; }
    .left-sidebar .nav-toggle .btn.btn-nav-toggle, .left-sidebar .nav-toggle-hide .btn.btn-nav-toggle {
      display: block;
      background: #f3f5f6 !important;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      padding: 0;
      border: none;
      font-size: 18px;
      border-radius: 50% !important;
      box-shadow: none; }
    .left-sidebar .nav-toggle:before, .left-sidebar .nav-toggle-hide:before {
      display: none !important; }
  .left-sidebar .nav {
    margin: 0 auto; }
    .left-sidebar .nav li:before {
      content: '';
      width: 200px;
      margin: 0 auto;
      background: #d7dae4;
      height: 1px;
      display: block; }
    .left-sidebar .nav li li:before {
      display: none; }
    .left-sidebar .nav > li.active .badge i {
      transform: rotate(-90deg) !important; }
  .left-sidebar .badge {
    padding: 7px 10px;
    background: none !important;
    opacity: 0.65; }
    .left-sidebar .badge i {
      padding: 0;
      margin: 0 !important;
      width: auto !important;
      color: #4b5c7a !important;
      font-size: 11px !important;
      transform: rotate(90deg) !important; }

.sidebar-holder .nav li a {
  border-top: none; }
  .sidebar-holder .nav li a:hover {
    background: none;
    color: #495b79; }
    .sidebar-holder .nav li a:hover i {
      color: #495b79; }
  .sidebar-holder .nav li a.dropdown > i {
    font-size: 29px;
    vertical-align: middle;
    margin-right: 8px;
    width: auto; }

.sidebar-holder .nav li.active > a {
  background: none;
  color: #495b79; }
  .sidebar-holder .nav li.active > a i {
    color: #495b79; }

.logo {
  text-decoration: none;
  text-align: center;
  padding-bottom: 18px;
  position: relative;
  z-index: 1000020; }
  .logo a {
    text-decoration: none; }

.sidebar-holder .nav > li ul {
  background: none; }
  .sidebar-holder .nav > li ul li {
    border-left: 5px solid transparent; }
    .sidebar-holder .nav > li ul li i {
      font-size: 22px;
      line-height: 1; }
    .sidebar-holder .nav > li ul li:hover, .sidebar-holder .nav > li ul li.active, .sidebar-holder .nav > li ul li:focus {
      background: #fff;
      border-left: 5px solid #6d99c3; }
      .sidebar-holder .nav > li ul li:hover .menu-sidebar__icon i:first-child, .sidebar-holder .nav > li ul li.active .menu-sidebar__icon i:first-child, .sidebar-holder .nav > li ul li:focus .menu-sidebar__icon i:first-child {
        position: static;
        opacity: 1; }
      .sidebar-holder .nav > li ul li:hover .menu-sidebar__icon i:last-child, .sidebar-holder .nav > li ul li.active .menu-sidebar__icon i:last-child, .sidebar-holder .nav > li ul li:focus .menu-sidebar__icon i:last-child {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0; }

.menu-sidebar__icon {
  display: inline-block;
  vertical-align: middle; }
  .menu-sidebar__icon i:first-child {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }

.sidebar-holder .nav > li ul > li > a {
  padding-top: 5px;
  padding-bottom: 5px; }

.sidebar-holder .nav > li ul {
  padding-bottom: 15px; }

.sidebar-holder .nav > li.estad a.dropdown > i {
  color: #2aa2d7; }

.sidebar-holder .nav > li.estad ul li:hover, .sidebar-holder .nav > li.estad ul li.active {
  border-left: 5px solid #2aa2d7; }

.sidebar-holder .nav > li.estad ul li a .menu-sidebar__icon i {
  color: #2aa2d7; }

.sidebar-holder .nav > li.mailing a.dropdown > i {
  color: #abcc8a; }

.sidebar-holder .nav > li.mailing ul li:hover, .sidebar-holder .nav > li.mailing ul li.active {
  border-left: 5px solid #abcc8a; }

.sidebar-holder .nav > li.mailing ul li a .menu-sidebar__icon i {
  color: #abcc8a; }

.sidebar-holder .nav > li.encuestas a.dropdown > i {
  color: #f5bb73; }

.sidebar-holder .nav > li.encuestas ul li:hover, .sidebar-holder .nav > li.encuestas ul li.active {
  border-left: 5px solid #f5bb73; }

.sidebar-holder .nav > li.encuestas ul li a .menu-sidebar__icon i {
  color: #f5bb73; }

.sidebar-holder .nav > li.TripAdvisor a.dropdown > i {
  color: #1db795; }

.sidebar-holder .nav > li.TripAdvisor ul li:hover, .sidebar-holder .nav > li.TripAdvisor ul li.active {
  border-left: 5px solid #1db795; }

.sidebar-holder .nav > li.TripAdvisor ul li a .menu-sidebar__icon i {
  color: #1db795; }

.sidebar-holder .nav > li.anuncios a.dropdown > i {
  color: #e88d8c; }

.sidebar-holder .nav > li.anuncios ul li:hover, .sidebar-holder .nav > li.anuncios ul li.active {
  border-left: 5px solid #e88d8c; }

.sidebar-holder .nav > li.anuncios ul li a .menu-sidebar__icon i {
  color: #e88d8c; }

.sidebar-holder .nav > li.KPI a.dropdown > i {
  color: #aa90cd; }

.sidebar-holder .nav > li.KPI ul li:hover, .sidebar-holder .nav > li.KPI ul li.active {
  border-left: 5px solid #aa90cd; }

.sidebar-holder .nav > li.KPI ul li a .menu-sidebar__icon i {
  color: #aa90cd; }

.sidebar-holder .nav > li.integraciones a.dropdown > i {
  color: #90ced4; }

.sidebar-holder .nav > li.integraciones ul li:hover, .sidebar-holder .nav > li.integraciones ul li.active {
  border-left: 5px solid #90ced4; }

.sidebar-holder .nav > li.integraciones ul li a .menu-sidebar__icon i {
  color: #90ced4; }

.sidebar-holder .nav > li.accesos a.dropdown > i {
  color: #89c3a1; }

.sidebar-holder .nav > li.accesos ul li:hover, .sidebar-holder .nav > li.accesos ul li.active {
  border-left: 5px solid #89c3a1; }

.sidebar-holder .nav > li.accesos ul li a .menu-sidebar__icon i {
  color: #89c3a1; }

.sidebar-holder .nav > li.configurac a.dropdown > i {
  color: #a6c0d9; }

.sidebar-holder .nav > li.configurac ul li:hover, .sidebar-holder .nav > li.configurac ul li.active {
  border-left: 5px solid #a6c0d9; }

.sidebar-holder .nav > li.configurac ul li a .menu-sidebar__icon i {
  color: #a6c0d9; }

.logo-big {
  display: block;
  margin: 0 auto; }

.logo-small {
  display: none;
  margin: 0 auto; }

.site-holder.mini-sidebar .content {
  margin-left: 90px; }

.site-holder.mini-sidebar .left-sidebar {
  width: 90px !important; }
  .site-holder.mini-sidebar .left-sidebar .nav-toggle, .site-holder.mini-sidebar .left-sidebar .nav-toggle-hide {
    transform: rotate(0deg); }
  .site-holder.mini-sidebar .left-sidebar .logo-big {
    display: none; }
  .site-holder.mini-sidebar .left-sidebar .logo-small {
    display: block;
    position: relative;
    z-index: 1111111111; }
  .site-holder.mini-sidebar .left-sidebar .nav li:before {
    width: 60px; }
  .site-holder.mini-sidebar .left-sidebar .nav > li > a {
    display: flex;
    align-items: center; }
  .site-holder.mini-sidebar .left-sidebar .hidden-minibar.hide {
    display: inline-block !important;
    font-size: 0; }

.site-holder.mini-sidebar .new-item-menu {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #8ec754;
  right: 13px;
  top: 8px; }
  .site-holder.mini-sidebar .new-item-menu img {
    display: none; }

.new-item-menu {
  position: absolute;
  right: -8px;
  top: -3px; }

.left-sidebar-mobile {
  display: none; }

.navbar__mobile {
  display: none; }

.menu-list {
  padding: 45px 0 0 40px; }
  .menu-list__text {
    color: #4b5c7a;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 49px; }
  .menu-list__section ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0; }
  .menu-list__item {
    padding-bottom: 40px; }
    .menu-list__item a {
      color: #4b5c7a;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none; }
    .menu-list__item > li > a {
      font-size: 19px;
      font-weight: 400;
      text-align: center;
      display: block;
      border-bottom: 1px solid #2aa2d7;
      text-decoration: none;
      color: #4b5c7a;
      padding-bottom: 8px;
      margin-bottom: 10px; }
    .menu-list__item li ul li {
      padding-bottom: 15px; }
      .menu-list__item li ul li.active {
        opacity: 0.4; }
    .menu-list__item .mailing > a {
      border-bottom-color: #99c36c; }
    .menu-list__item .mailing .menu-sidebar__icon {
      color: #99c36c; }
    .menu-list__item .encuestas > a {
      border-bottom-color: #f79218; }
    .menu-list__item .encuestas .menu-sidebar__icon {
      color: #f79218; }
    .menu-list__item .TripAdvisor > a {
      border-bottom-color: #09b18c; }
    .menu-list__item .TripAdvisor .menu-sidebar__icon {
      color: #09b18c; }
    .menu-list__item .anuncios > a {
      border-bottom-color: #e36260; }
    .menu-list__item .anuncios .menu-sidebar__icon {
      color: #e36260; }
    .menu-list__item .KPI > a {
      border-bottom-color: #9471c1; }
    .menu-list__item .KPI .menu-sidebar__icon {
      color: #9471c1; }
    .menu-list__item .integraciones > a {
      border-bottom-color: #3aacb7; }
    .menu-list__item .integraciones .menu-sidebar__icon {
      color: #3aacb7; }
    .menu-list__item .accesos > a {
      border-bottom-color: #63b283; }
    .menu-list__item .accesos .menu-sidebar__icon {
      color: #63b283; }
    .menu-list__item .configurac > a {
      border-bottom-color: #6d99c3; }
    .menu-list__item .configurac .menu-sidebar__icon {
      color: #6d99c3; }
  .menu-list .menu-sidebar__icon {
    padding-right: 10px;
    font-size: 24px; }
  .menu-list .menu-list-close {
    float: right;
    padding-top: 5px; }

.navbar .dropdown-menu.notifications a i {
  vertical-align: middle; }

@media (max-width: 1279px) {
  .content {
    padding: 0 0 0 10px; }
  .navbar-header, .navbar .navbar-collapse {
    display: none !important; }
  .navbar__mobile-logo {
    padding-left: 25px;
    padding-top: 5px; }
    .navbar__mobile-logo img {
      height: 50px;
      display: block; }
  .navbar__mobile-right {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    align-items: center; }
    .navbar__mobile-right .menu-item-user__name {
      margin-right: 0;
      padding-right: 0;
      margin-left: 8px; }
    .navbar__mobile-right .menu-item-user:before {
      left: 0;
      right: auto; }
    .navbar__mobile-right .navbar__mobile-toggle {
      padding-right: 8px;
      font-size: 26px;
      cursor: pointer; }
  .logo {
    display: none; }
  .left-sidebar {
    z-index: 111111;
    display: none; }
    .left-sidebar.open {
      left: 0; }
    .left-sidebar ul li:nth-child(2):before {
      opacity: 0; }
    .left-sidebar .menu-item-user__name {
      margin-left: 10px;
      margin-right: 8px; }
  .left-sidebar-mobile {
    display: block; }
  .navbar__mobile {
    display: block; } }
